.headerContainer {
    position: absolute;
    left: 200px;
    border-bottom: gray solid thin;
    height: 60px;
    width: calc(100vw - 220px);
    background: var(--theme-page-background);
    color: var(--theme-page-text);
}

.headerText {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 0.85em;
    color: gray;

    span {
        color:#4256c7;

        &:hover {
            color:rgb(55, 156, 240);
            cursor: pointer;
        }
    }
}

.button {
    background: var(--theme-page-background);
    color: green;
    border-radius: 10px;
    padding: 10px;
    border: thin gray solid;
    position: absolute;
    top:10px;
    right:10px;
    transition: 400ms;

    &:hover {
        //background-color: rgb(131, 28, 131);
        border: thin solid green;
        cursor: pointer;
    }
}

@media(max-width: 666px) {
    .headerContainer {
       min-width: 100vw;
       left: 0;
    }

    .headerText {
        margin-left: 60px;
        font-size: 0.7em;
        width: 140px;
    }
   
}