.container {
}

.chartsWrapper {
display: flex;
flex-wrap: wrap;
  
    .chartWrapper {
        width: 47%;
        height: 300px;
        min-width: 350px;
        margin-top: 30px;
        margin-left: 10px;
    }
}

.userCard {
    border: thin solid white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    height: 90%;
    transition: 500ms;
    background-image: linear-gradient(0deg,#08aeea,#2af598);

    &:hover {
        -webkit-box-shadow: 0px 0px 15px 6px rgba(255,212,49,0.46); 
        box-shadow: 0px 0px 15px 6px rgba(255,212,49,0.46);
    }

    .imageWrapper {


        img {
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid white;
            width: 100px;
            margin: 5px auto;
        }
    }

    .userName {
        width:fit-content;
        margin: 0 auto;
        font-size: larger;
        letter-spacing: 1px;
        font-weight: bolder;
        color: white;
    }

    .userRating {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border: white 5px solid;
        border-radius: 50%;
        padding-left: 11px;
        padding-top: 6px;
        color: white;

        &:hover {
            -webkit-box-shadow: 0px 0px 15px 6px rgba(58,255,26,0.46); 
box-shadow: 0px 0px 15px 6px rgba(58,255,26,0.46);
        }
    }

    .userMessage {
        width: fit-content;
        font-size: 1.1em;
        margin: 25px auto;
        color: white
        
    }
}

@media(max-width: 919px) {
    .chartsWrapper {
        .chartWrapper {
            width: 90%
        }
    }  
}
