
.container {
  width: 95%;
  margin-bottom: 50px;
  border: white solid;
  min-width: 490px;
}

.ordersHeader {
  font-size: larger;
  font-weight: 640;
  color: var(--theme-page-text);
}

.MuiSelect-icon {
  color: blue !important;
}


.shipped {
  color: rgb(44, 177, 230);
}

.ready{
  color: rgb(226, 206, 27);
}

.delivered{
  color: rgb(30, 180, 88);
}
.failed{
  color: rgb(204, 76, 25);
}


