.container {
    background: var(--theme-page-background);
    color: var(--theme-page-text);
    border: solid thin rgb(184, 181, 181);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    min-width: 200px;

    &:hover {
        border: solid 1px rgb(218,165,32);
    }

    .value {
        text-align: center;
        font-size: 2.6em;
        padding-top: 15px;

        svg {
            height: 35px;
            transform: scaleY(1.2);
            fill: green;
        }
    }

    .title {
        color: rgb(218,165,32);
        text-align: center;
        font-size: 1.3em;
        padding-top: 20px;
    }
}

@media(max-width: 666px) {
    .container {
        //margin: 5px 15px;
        width: 60%;
        margin-left: 25%;

        .value {
            font-size: 2.2em;
        }

        .title {
            font-size: 1.1em;
        }
    }
   
}