.container {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    

    color: white;
   
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    min-width: 200px;

    &:hover {
       
    }

    .value {
        text-align: center;
        font-size: 2.6em;
        padding-top: 15px;

        svg {
            height: 35px;
            transform:rotate(180deg);
            fill: white;
        }
    }

    .title {
        color: white;
        text-align: center;
        font-size: 1.2em;
        padding-top: 20px;
    }
}

@media(max-width: 666px) {
    .container {
        //margin: 5px 15px;
        width: 60%;
        margin-left: 22%;

        .value {
            font-size: 2.2em;
        }

        .title {
            font-size: 1.1em;
        }
    }
   
}