.container {
    background-color: rgb(243, 242, 240);
    border: solid thin rgb(184, 181, 181);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    min-width: 200px;

    .value {
        text-align: center;
        font-size: 2.6em;
        padding-top: 15px;

        svg {
            height: 35px;
            transform: scaleY(1.2);
            fill: green;
        }
    }

    .title {
        color: rgb(68, 66, 66);
        text-align: center;
        font-size: 1.3em;
        padding-top: 20px;
    }
}

@media(max-width: 666px) {
    .container {
        margin: 5px 15px;
    }
   
}