.container {
    width: 350px;
    height: auto;
    border-radius: 10px;
   // padding: 15px;
    margin: 13px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-color: var(--theme-page-background);
    &:hover {
        cursor: pointer;
        box-shadow: 9px 11px 6px 2px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    }

    .blogText {
        background: var(--theme-page-background);
        color: var(--theme-page-text);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .title {
            font-size: 1.2em;
            font-weight: bolder;
            text-transform: uppercase;
            margin-bottom: 5px;
            padding: 10px; 
        }

        .body {
            padding: 5px;
        }
}
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer {
    background: var(--theme-page-background);
    color: var(--theme-page-text);
    width: 600px;
    height: auto;
    font-size: 1.2em;
    padding: 20px; 
    border: thin rgb(47, 47, 47) solid;
    border-radius: 10px;
    outline: none;
    
    h3 {
        text-transform: uppercase;
    }
}

    .postImage {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

