.container {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    border-top: thin gray solid;
   

    svg {
        fill: red;
        position: absolute;
        top: 27px;
        right: 5px;
        transform: scale(1.2);

        &:hover {
            fill: rgb(139, 29, 115);
            cursor: pointer;
        }
    }

    .line {
        width: 5px;
        height: 50px;
        margin-top: 15px;
        margin-left: 5px;
        background-color: rgb(89, 174, 243);
        transition: 500ms;
        &:hover {
            background-color: rgb(29, 90, 189);
        }
    }

    .blueLine {
        background-color: rgb(89, 174, 243);
        transition: 500ms;
        &:hover {
            background-color: rgb(29, 90, 189);
        }
    }

    .textWrapper {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-top: 7px;

        .title {
            color: rgb(51, 51, 51);
            font-weight: bolder;
        }

        .responsible {
            font-style: italic;
        }

    }

    .status {
        position: absolute;
        letter-spacing: 1px;
        left: 65%;
        top: 30%;
        border-radius: 20px;
        color: white;
        padding: 5px 13px 5px 13px;
        font-size: 0.8em;
        width: 130px;
        text-align: center;
    }

    .statusTODO {
        background-color: rgb(153, 51, 119);
    }

    .statusINPROGRESS {
        background-color: rgb(79, 204, 41);
    }

    .statusINREVIEW {
        background-color: rgb(228, 114, 48);
    }

    .statusFINISHED {
        background-color:rgb(89, 174, 243);
    }
}

