.tableContainer {
  max-height: 400px;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

.MuiTableContainer-root {
    margin: 10px;
    background: var(--theme-page-background);
    color: var(--theme-page-text);
}