.container {
    background: var(--theme-page-background);
    color: var(--theme-page-text);
    width: 40%;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    height: 480px;
    padding: 10px;

    .header {
        font-size: 1.1em;
        color: rgb(58, 57, 57);
        font-weight: 500;

        svg {
            margin-right: 10px;
            position: relative;
            top: 6px;
            fill: darkgoldenrod
        }
    }

    .description {
        padding: 5px;
    }

    .appointed {
        padding: 5px;

        span {
            font-style: italic;
            font-weight: 600;
            color: gray;
        }
    }

    .status {
        padding: 5px;
    }
}

@media(max-width: 1030px) {
    .container {
        width: 50%;
        min-width: 450px;
    }
   
}