
.tableContainer {
    width: 50%;
    min-width: 450px;
   // background-color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: fit-content;
    background: var(--theme-page-background);
    color: var(--theme-page-text);
    .tableHeader {
        color: var(--theme-page-text);
        height: 40px;

        svg {
            fill: coral;
            margin-right: 5px;
            position: relative;
            top: 6px;
        }
    }

    .noTasks {
        margin-top: 10px;
        color: gray;
    }
}

@media(max-width: 470px) {
   .tableContainer {
       width: 100%;
       min-width: 300px;
   }
 }