.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
    .addTaskHeader {
        margin-bottom: 20px;
        font-size: 1.1em;
        color: var(--theme-page-text);
        font-weight: 600;
        width: 200px;
        cursor: pointer;

        svg {
            fill: rgb(32, 131, 197);
            position: relative;
            top: 5px;
            margin-right: 10px;
        }
    }

    .inputField {
        padding: 5px 5px 5px 15px;
        margin-bottom: 20px;
        height: 60px;
        font-size: 0.9em;
        border: #c4c4c4 thin solid;
        border-radius: 4px;
        cursor: pointer;

    }

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    outline:none;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 600px;
    height: auto;
    font-size: 1.2em;
    padding: 20px; 
    border-radius: 10px;
    outline: none;   

    .addButton {
        margin-top: 15px;
    }
}

